// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 67px;
}

hr {
    background: white;
}
hr.black {
    background: #000;
}

.profile {
  max-width: 70%;
  margin: auto;
}

.centered{
  text-align: center;
}

.linkedInBtn {
  padding: .75rem 3rem !important;
  font-size: 1.9rem !important;
}

.size14{
  font-size: 14px;
}

.footerExternalLink {
  font-size: 40px;
  margin-left: 1%;
  margin-right: 1%;
  color: #fff;
}

.footerExternalLink:hover{
  color: #ffe;
}

.profileLink{
  color: #fff;
}

.profileLink:hover{
  color: #aaa;
}

.contactMe {
  background: linear-gradient(20deg, $secondary 0%, $primary 100%);
  color: #fff;;
}

.img-fluid.rounded-circle{
  border-radius: 5% !important;
  box-shadow: 0px 0px 25px #ccc;
}


.ct-body-parnt{
    padding-top: 1.5rem !important;
}

.ct-body{
    font-size: 1.5rem;
    margin: auto;
    width: 75%;
}

.ct-head{
    padding-bottom: 0 !important;
}

a.goToTop{
    color: #fff;
    font-size: 20px;
}

.goToTop-prnt{
    margin-bottom: 3% !important;
}

.copyright{
    margin-top: 4% !important;
}

.fairfield {
    background: none !important;
    box-shadow: none !important;
    position: relative;
    width: 40%;
    float: right;
    margin-top: -25%;
    margin-right: -15%;
}

.pd-bot-0 {
  padding-bottom: 0 !important;
}